[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/waterfox-classic/waterfox-bin
Name=Waterfox classic
Icon=/opt/waterfox-classic/waterfox-classic.png